*{
    margin:0 ;
    padding:0m ;
}

header{
    height: 500px;
    background-color: rgb(255, 255, 255);
}

nav{
    height: 10%;
    background-color: rgb(184, 184, 184);
    padding: 0;
}

li{
    display: inline-block;
    width: 18%;
    text-align: center;
}

a{
    color:rgb(58, 58, 58);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(136, 136, 136);
    margin-left: 2cm;
    padding: 0px; ;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: rgb(219, 15, 15);
    padding: 0%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: wavy;
}

p{
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img{ 
    width: 250px;
    margin: 1cm;   
    padding: 0;
}

footer{
    background-color: rgb(184, 184, 184) ;
    height: 30%;
    font-size: 13px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer p{
        color: rgb(58, 58, 58);
 }