*{
    margin:0 ;
    padding:0m ;
}

header{
    height: 500px;
    background-color: rgb(255, 255, 255);
}

nav{
    height: 10%;
    background-color: rgb(184, 184, 184);
}

li{
    display: inline-block;
    width: 18%;
    text-align: center;
}

a{
    color:rgb(58, 58, 58);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

img{ 
    width: 250px;
    margin: 1cm;   
    padding: 0;
}

h1{
    color: rgb(136, 136, 136);
    margin-left: 2cm;
    padding: 0px; ;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: rgb(219, 15, 15);
    padding: 0%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: wavy;
}

h3{
    color:rgb(136, 136, 136) ;
    padding: 0px;
    margin: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: black;
    padding: 0px;
    margin: 70px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor img {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-right: 10px; /* Espacio entre las imágenes */
  }
  




  



footer{
    background-color: rgb(184, 184, 184) ;
    height: 30%;
    font-size: 13px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer p{
        color: rgb(58, 58, 58);
 }





 .contenedor {
  text-align: center; /* Centra todo el contenido */
}

.imagen-texto {
  display: inline-block;
  margin: 0 10px; /* Espacio entre las imágenes y textos */
}

.imagen-texto img {
  display: block;
  margin: 0 auto; /* Asegura que la imagen esté centrada */
}